@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Urbanist", sans-serif;
}

#logo-link {
    background-color: white;
}

:root {
    font-family: "Urbanist", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --buttonColor: #2a2c30;
    --secondaryColor: #4b4f56;
    --borderColor: #e3eaf0;
    --backgroundColor: #f7f7f7;
    --backgroundSecondary: #fefefe;
    --textColor: #1e1f23;
    --anchorColor: #535bf2;
    --main-color: #535bf2;
    --supporting-color: #ebf3fe;
    --glow-color: hsl(186, 91%, 4%);
}

body {
    /* margin: 8rem auto; */
    padding: 0 32px;
    max-width: 100vw;
    background-color: var(--backgroundColor);
}


/****************header Section********************/

.navbar {
    background-color: #9DC7C8;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 5rem;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
}

.nav-p {
    margin-left: 50rem;
    display: flex;
}

.navbar a {
    flex-grow: 1;
    flex-basis: 200;
    margin-left: 1.5rem;
    color: #ebf3fe;
    background-color: #1e1f23;
    padding: 0.6rem;
    border-radius: 0.5rem;
    text-decoration: none;
}


/****************Header********************/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; /* Keeps the header fixed */
    top: 0;          /* Position it at the top */
    left: 0;
    right: 0;     /* Full width of the viewport */
    background-color: #8aa2a8; /* Background color */
    color: white;    /* Text color */
    padding: 10px 10px;
    height: 5rem;
    /* z-index: 1000;   Ensures it stays above other elements */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

.main-logo img {
    max-width: 5rem;
    margin: 1.5rem;
}

.head-a {
    display: flex;
    gap: 1rem;
}

#cartadd {
    text-decoration: none;
    margin: -1rem 0 0 5rem;
    display: flex;
}

#cartadd-p {
    margin-top: -0.4rem;
}

.head-a a {
    margin-left: 3rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1rem;
    transition: 0.3s ease;
}

.head-a a:hover {
    background-color: #1e1f23;
    border-radius: 2rem;
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
}

#cartadd {
    color: white;
    background-color: #1e1f23;
    padding: 1rem;
    margin-right: 7rem;
    width: fit-content;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    transition: 0.3s ease;
}

#cartadd:hover {
    color: black;
    background-color: white;
    padding: 1rem;
    width: fit-content;
    border-radius: 0.5rem;
    font-size: 1.3rem;
}

#cartadd i {
    margin-right: 0.8rem;
}


/**************hero Section**********************/

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.hero-img img {
    width: 100%;
    max-width: 40rem;
    height: auto;
}

.hero-text {
    margin: 10rem 0 0 2.5rem;
}

& #text-1 {
    color: #1e1f23;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: -10rem;
}

& #text-2 {
    font-size: 3rem;
    font-weight: 700;
}

& #text-3 {
    font-weight: 550;
}

#hero_button {
    margin-top: 2rem;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #1e1f23;
    color: white;
    border: none;
    border-radius: 0.6rem;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease; /* Smooth transition for hover */
}

#hero_button:hover {
  box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.3); /* Deeper shadow on hover */
}

/******************Sales Adds off page****************************/

.sale-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

.container-off {
    display: flex;
    margin: 3rem 0 0 2rem;
    background-color: #edf2f4;
    padding: 2rem;
    border-radius: 1rem;
}

#img-1 img {
    width: 10rem;
}

.sale-img img {
    width: 8rem;
    height: auto;
}

#p1 {
    color: #22333b;
}

#p2 {
    font-size: 1.5rem;
}

.sale-text a {
    margin-top: 5rem;
    text-decoration: none;
    color: orange;
}


/***************Services shippings****************************/

.services-deliver {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    padding: 2rem;
    background-color: #edf2f4;
    border-radius: 1.5rem;
}

.ser-content {
    display: flex;
    align-items: center;
    margin-left: -3rem;
}

.shipping {
    flex: 1 1 calc(25% - 2rem);
    text-align: center;
}

.ser-img i {
    font-size: 2rem;
    margin-top: 0.6rem;
}

#sh-1 {
    margin-left: 1.3rem;
    font-size: 1.1rem;
    font-weight: 500;
}

#sh-2 {
    margin-left: 1.3rem;
    font-size: 0.9rem;
}


/****************Why chose us**************************/

.why-text {
    margin: 2.5rem 0 0 3rem;
}

#why-1 {
    font-size: 2rem;
    font-weight: 600;
}
/* ***************Toast Card design***************************** */
.toast{
    position: fixed;
    top: 7rem;
    right: 30px;
    border-radius: 6px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-left: 8px solid #40f467;
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.25, 1.35);
  }
.toastred{
    position: fixed;
    top: 7rem;
    right: 30px;
    border-radius: 6px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-left: 8px solid red;
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.25, 1.35);
  }
  .toast.active{
    transform: translateX(0);
  }
  .toastred.active{
    transform: translateX(0);
  }
  .toast-content{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .toast-check{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    background-color: #40f467;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
  }
  .toastred-check{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    background-color: red;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
  }
  .toast-check-red{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    background-color: red;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
  }
  .message{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
  }
  .message-text{
    font-size: 20px;
    font-weight: 600;
  }
  .text-1{
    color: #333;
  }
  .text-2{
    color: #666;
    font-weight: 400;
    font-size: 16px;
  }
  .toast-close{
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
  }
  .toast-close:hover{
    opacity: 1;
  }
  .progress{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #ddd;
  }
  .progressred{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #ddd;
  }
  .progress::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #40f467;
  }
  .progressred::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: red;
  }
  .progress.active::before{
    animation: progress 5s linear forwards;
  }
  .progressred.active::before{
    animation: progress 5s linear forwards;
  }
  @keyframes progress {
    100%{
      right: 100%;
    }
  }

/************Product item note******************/
.container{
    display: flex;
    justify-content: center;
}
#productContainer {
    max-width: 80%;
    margin: 2rem 0 4rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

/* .product {
    flex-grow: 1;
    flex-basis: 200;
    width: 20rem;
    height: 35rem;
} */

.container-pro {
    background-color: #edf2f4;
    padding: 1rem;
    max-width: 20rem;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.pro-type,
.bucket_pro {
    display: flex;
    width: fit-content;
    background-color: #e5c89e;
    border-radius: 0.7rem;
    font-size: 0.9rem;
}

#pro-computer,
#bucket_type {
    padding: 0 0.4rem 0 0.4rem;
}

.pro-image img {
    /* margin: 1rem 0 0 2rem;
    width: 15rem; */
    max-width: 100%;
  width: 10rem;
  height: auto;
}

#product1 {
    font-size: 2rem;
    font-weight: 750;
}

.productRating {
    color: yellow;
    margin-left: -0.4rem;
}

.productRating i {
    font-size: 0.7rem;
    margin: 0.6rem 0 1rem 0;
}

.productPriceElement {
    display: flex;
    font-size: 1.3rem;
}

.productActualPrice {
    margin-left: 1rem;
    text-decoration: line-through;
}

.productStockElement {
    display: flex;
    font-size: 1.1rem;
    gap: 2rem;
}

.productQuantityElement,
.bucket_product_Quantity {
    display: flex;
    gap: 2rem;
}

.stockElement,
.bucket_sum {
    display: flex;
    font-size: 1.1rem;
    font-weight: 700;
}

.productPiece {
    margin-top: 1rem;
}

.cartIn,
.cartout,
.bucket_cartin,
.bucket_cartout {
    margin-top: 1rem;
    background-color: white;
    width: 3rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    font-weight: 700;
    border: none;
    touch-action: var(--glow-color);
}
.cartIn:hover,
.cartout:hover,
.bucket_cartin:hover,
.bucket_cartout:hover {
    color: white;
    background-color: rgb(59, 59, 59);
    width: 3rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    font-weight: 700;
    border: none;
    transition: 0.3s ease;
}

.cartIn,
.bucket_cartin {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    cursor: pointer;
}

.cartout,
.bucket_cartout {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    cursor: pointer;
}

.productQuantity,
#bucket_quantity {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-right: none;
    width: 3rem;
}

.add-to-cart-button {
    padding: 1rem;
    background-color: #1e1f23;
    border: none;
    border-radius: 0.5rem;
    color: white;
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    transition: 0.3s ease;
}

.add-to-cart-button:hover {
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    color: black;
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.add-to-cart-button i {
    margin-right: 0.6rem;
}


/********************Why chose us 2*************************/

.chose-container {
    margin: 0 0 0 4rem;
}

.why-chose-us {
    display: flex;
    justify-content: space-evenly;
    margin: 4rem 3rem 3rem 3rem;
}

.section-text1 {
    width: 25rem;
}

.section-text2 {
    width: 25rem;
}

#chose-1 {
    margin: 1.5rem 0 1.5rem 0;
    background-color: #4b4f56;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
}

#shose-heading {
    font-size: 1.5rem;
    font-weight: 800;
}

#chose-text {
    font-weight: 500;
}

.chose-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 30rem;
    background-color: #4b4f56;
    border-radius: 50%;
}

.chose-img img {
    width: 20rem;
    height: auto;
}


/*******************Footer************************/

footer {
    padding: 2rem;
    background-color: #1e1f23;
    color: white;
    border-radius: 2rem;
}

.foot-back {
    display: flex;
}

.foot-2 {
    display: flex;
    font-weight: lighter;
}

.shopping {
    margin: 0 0 0 4rem;
}

#heading-footer {
    font-size: 1.2rem;
    font-weight: 500;
}

#logo-text {
    font-weight: 600;
    margin: 1rem 0 1rem 0;
}

.foot-logo {
    width: 6rem;
    height: 6rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-logo img {
    max-width: 4rem;
}

.foot-links {
    display: flex;
}

.email-footer input {
    padding: 0 0.5rem 0 1rem;
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
}

.social-foot {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.social-foot i {
    margin: 2rem 0 0 1.5rem;
}


/***************Contact Form***********************/

.contact-us-page-body {
    display: flex;
}


/**************Google Maps****************************/

.contact-google-mape {
    margin-top: -5rem;
}

.contact-google-mape iframe {
    margin: 0 0 3rem 10rem;
    width: 40rem;
    height: 35rem;
    border-radius: 1.5rem;
    border: none;
}

.contact-google-mape img {
    width: 30rem;
    margin: 0 0 3rem 14rem;
}

.conact-headline {
    margin: 2rem 0 0 3rem;
}

.contact-form {
    margin: 3rem 0 0 3rem;
}

.contact-name {
    margin: 2rem 0 2rem 0;
}

#p-cont-name {
    margin: 0 0 1rem 0;
    font-size: 1.2rem;
    font-weight: 700;
}

label {
    display: block;
    margin: 0 0 1rem 0;
    font-size: 1.2rem;
    font-weight: 700;
}

.required:before {
    content: "* ";
    color: red;
}

#input {
    width: 30rem;
    height: 2.5rem;
    padding: 0 1rem 0 1rem;
    font-size: 1.1rem;
    border-radius: 1.5rem;
    border: none;
    border: 1px solid #9DC7C8;
}

#message {
    height: 20rem;
    width: 30rem;
    border-radius: 1.5rem;
    border: 1px solid #9DC7C8;
    padding: 1rem;
    font-size: 1.1rem;
}

#contact-submit {
    padding: 1rem;
    background-color: #1e1f23;
    border: none;
    border-radius: 1rem;
    color: #e3eaf0;
    font-weight: 500;
    font-size: 1.2rem;
    width: fit-content;
    margin: 0 0 2rem 0;
    letter-spacing: 1px;
}
/*****************Bucket_section****************************/
.bucket_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 3rem 2rem 3rem;
}
.bucket_product_temp{
    max-width: 60rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 1rem 0;
    padding: 0 1rem 0 1rem;
    flex-wrap: wrap;
    gap: 2rem;
    border: #e5e7ec 0.1rem solid;
    border-radius: 1rem;
}
.bkt_img img{
    max-width: 5rem;
    height: auto;
}
#bkt_rmv_btn{
    display: flex;
    align-self: center;
    align-items: center;
    height: 2.5rem;
    color: white;
    border-radius: 0.5rem;
    background-color: red;
    border: none;
    padding: 0 2rem 0 2rem;
}
.bucket_cartin,
.bucket_cartout,
#bucket_quantity{
    margin: 0rem;
}
/* *******************Total Reciept********************* */
.total_class{
    width: 15rem;
    height: 10rem;
    padding: 2rem;
    background-color: #9DC7C8;
    border-radius: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;

}
#top_heading{
    display: flex;
    justify-content: center;
}
.sub_total,
.tax{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
#sub_total_price,
#tax_amount{
    text-align: end;
}
.total_amount{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

}.total_amount p{
    font-weight: 800;
    font-size: 1.2rem;
}

/* Media Queries */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .head-a {
        flex-direction: column;
        align-items: center;
    }

    .hero-section {
        padding: 1rem;
    }

    .sale-add {
        flex-direction: column;
        align-items: center;
    }

    .container-off {
        flex: 1 1 100%;
    }

    .services-deliver {
        flex-direction: column;
        align-items: center;
    }

    .shipping {
        flex: 1 1 100%;
    }

    .product {
        flex: 1 1 100%;
    }
}

@media (max-width: 480px) {
    .hero-text {
        font-size: 1.2rem;
    }

    .sale-text {
        font-size: 1rem;
    }

    .product {
        font-size: 0.9rem;
    }
}